<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="shortcut icon" th:href="@{~/Images/logo.png}">
<link rel="stylesheet" type="text/css" th:href="@{~/CSS/CssOfAdmin.css}">
<script th:src="@{~/JS/JSOfAdmin.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title th:if="${user.role=='ROLE_ADMIN'}">Manager Julicasta</title>
<title th:if="${user.role=='ROLE_EMPLOYEE'}">Julicasta staff</title>

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
</head>
<body>
	<div th:replace="admin/top_navbar :: top_navbar"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 menu-product">
				<div th:replace="admin/menu :: menu"></div>
			</div>
			<div class="col-10">
				<div class="container-fluid content">
					<h1>Liên hệ của khách hàng</h1>
					<hr>
					<div class="container-fluid">
						<div class="col-12">
							<table class="accountDetail">
								<tr>
									<td>Họ và tên:</td>
									<td th:text="${contact.fullname}"></td>
								</tr>
								<tr>
									<td>Số điện thoại:</td>
									<td th:text="${contact.phone}"></td>
								</tr>
								<tr>
									<td>Nội dung về:</td>
									<td th:text="${contact.type}"></td>
								</tr>
								<tr>
									<td>Chi tiết:</td>
									<td th:text="${contact.content}"></td>
								</tr>
								<tr>
									<td>Trạng thái:</td>
									<td th:if="${contact.status}" style="color: green;">Đã liên hệ<a th:onclick="'changeContactStatus('+${contact.id}+')'" class="btn btn-danger changeStatus" href="#"><i class="fa fa-undo" aria-hidden="true"></i></a></td>
									<td th:unless="${contact.status}" style="color: #BB0000;">Chưa liên hệ<a th:if="${user.role=='ROLE_ADMIN'}" th:onclick="'changeContactStatus('+${contact.id}+')'" class="btn btn-success changeStatus" href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>