<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-6 logo">
					<h3>Juliicasta</h3>
				</div>
				<div class="col-6 in4">
					<a href="https://www.facebook.com/Juliicasta-112431903877614"><i
						class="fa fa-facebook-square" aria-hidden="true"></i></a> <a
						href="https://www.instagram.com/juliicasta/"><i
						class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>